.section {
    &.title {
        padding-top: 50px;
        // padding-bottom: 50px;
        text-align: center;

        @include media-breakpoint-up(lg) {
            padding-top: 80px;
            // padding-bottom: 80px;
        }

        .text-wrapper {
            h5 {
                margin-bottom: 40px;
            }

            &:after {
                content: "";
                background-color: $color-primary;
                width: 70px;
                height: 3px;
                display: block;
                margin: 40px auto 0;
            }
        }
    }

    &.intro {
        &.float-up {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 60px;
            @include flex-center-center;

            .float-box {
                width: 100%;
                max-width: 800px;
                background-color: #f2f2f2;
                @include flex-center-center;
                margin-top: -60px;

                .text-wrapper {
                    padding: 30px;
                    width: 100%;
                    text-align: center;
                    max-width: 566px;

                    h1 {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    &.features {
        @include flex-center-center;

        .text-wrapper {
            text-align: right;
            max-width: 441px;
            color: #fff;
        }

        .feature-wrapper {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            .feature-box {
                background-color: #fff;
                height: 120px;
                width: 120px;

                @include media-breakpoint-up(lg) {
                    height: 264px;
                    width: 264px;
                }

                @include flex-center-center;

                +.feature-box {
                    margin-left: 10px;
                }

                img.icon {
                    height: 32px;
                    margin-bottom: 20px;

                    @include media-breakpoint-up(lg) {
                        height: 64px;
                    }
                }

                a.feature-link {
                    text-align: center;
                    color: #000;
                    text-decoration: none;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    &.testimonial {
        padding-top: 50px;
        padding-bottom: 50px;

        @include media-breakpoint-up(lg) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        .text-wrapper {
            text-align: center;
            max-width: 448px;
            margin-bottom: 30px;

            .title {
                h3 {
                    font-size: 36px;
                }
            }

            .small-title {
                p {
                    font-size: 24px;
                    letter-spacing: 2px;
                }
            }

            p.testimony {
                font-size: 16px;
                margin-bottom: 20px;
            }

            img.quote {
                height: 30px;
                margin-bottom: 20px;
            }

            h5.customer-name {
                font-size: 18px;
                @include flex-center-center;

                span {
                    width: 10px;
                    height: 2px;
                    background-color: #000;
                    margin-right: 10px;
                }
            }
        }
    }

    &.page {
        padding-top: 50px;
        padding-bottom: 50px;

        @include media-breakpoint-up(lg) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        //  About page
        &.about {
            .text-wrapper {
                max-width: 260px;

                h3 {
                    margin-bottom: 20px;
                    font-size: 36px;
                }

                p {
                    line-height: 1.6;
                }
            }

            .square-box {
                height: 208px;

                @include media-breakpoint-up(lg) {
                    height: 416px;
                }

                @include flex-center-center;
                @include bg-center-cover;

                h2 {
                    color: #000;
                    font-size: 30px;

                    @include media-breakpoint-up(lg) {
                        font-size: 60px;
                    }
                }

                &.full {
                    @include media-breakpoint-down(md) {
                        height: 300px;
                    }
                }
            }

            .rectangle-box {
                min-height: 208px;
                display: flex;
                align-items: center;

                @include media-breakpoint-up(lg) {
                    min-height: 416px;
                }

                .text-wrapper {
                    max-width: none;

                    a.btn {
                        margin-top: 20px;
                    }
                }
            }
        }

        &.classes {
            .text-wrapper {
                max-width: 550px;

                h2 {
                    font-size: 42px;

                    @include media-breakpoint-up(lg) {
                        font-size: 72px;
                    }
                }

                p {
                    font-size: 18px;

                    @include media-breakpoint-up(lg) {
                        font-size: 20px;
                    }

                    &.big {
                        font-size: 24px;
                        margin-bottom: 20px;

                        @include media-breakpoint-up(lg) {
                            font-size: 30px;
                        }
                    }
                }

                a.btn {
                    margin-top: 20px;
                }
            }

            .square-box {
                height: 300px;
                @include bg-center-cover;

                @include media-breakpoint-up(lg) {
                    height: 583px;
                }
                &.small {
                    height: 155px;
                    @include media-breakpoint-up(lg) {
                        height: 304px;
                    }
                }
            }
            .rectangle-box {
                height: 300px;
                @include bg-center-cover;

                @include media-breakpoint-up(lg) {
                    height: 365px;
                }
            }
            .row {
                &:nth-child(even) {
                    .d-flex {
                        @include media-breakpoint-up(lg) {
                            order: 1;
                        }
                    }

                    .img-wrapper {
                        @include media-breakpoint-up(lg) {
                            order: 2;
                        }
                    }
                }

                +.row {
                    margin-top: 20px;
                    @include media-breakpoint-up(md) {
                        margin-top: 30px;
                    }
                    @include media-breakpoint-up(xl) {
                        margin-top: 50px;
                    }
                }
            }
        }
    }

    &.cta {
        padding-top: 50px;
        padding-bottom: 50px;
        color: #fff;
        text-align: center;
        @include flex-center-center;

        @include media-breakpoint-up(lg) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        h2 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        a.btn {
            margin: 0 auto;
        }
    }

    &.site-main {
        min-height: calc(100vh - 159px);
        padding-top: 50px;
        padding-bottom: 50px;

        @include media-breakpoint-up(lg) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .icon-link-group {
            display: flex;
            align-items: center;
            a {
                color: $color-primary;
                font-size: 24px;
                transition: all .3s;
                +a{
                    margin-left: 10px;
                }
                &:hover{
                    color: #000;
                }
            }
        }
    }
}

form {
    .nf-before-form-content {
        font-family: $font-body;
        font-weight: 300;
        margin-bottom: 26px;
    }
    label {
        font-family: $font-heading;
        font-weight: 700;
    }
    .ninja-forms-field {
        @extend .btn;
        @extend .btn-primary
    }
}

.menu-free-trial-container{
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        color: #fff;
        text-decoration: none;
        font-family: $font-heading;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 24px;
    }
}
.menu-social-media-container {
    display: flex;
    align-items: center;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li + li {
            margin-left: 15px;
        }
    }
}

table {
    td {
        padding: 15px 10px
    }
}