.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.full-height {
        display: flex;
        align-items: center;
         .text-wrapper {
             margin-bottom: 50px;
             max-width: 426px;
             color: #fff;
         }
    }
}