.btn {
    &:focus, &:active {
        box-shadow: none;
    }
    &.cta-navbar-link {
        background-color: $color-primary;
        color: #fff;
        border-radius: 0;
        display: inline-block;
        font-family: $font-heading;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px 21px;
    }
    &.btn-primary {
        background-color: $color-primary;
        border-width: 2px;
        border-color: transparent;
        font-family: $font-heading;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 0;
        padding-left: 30px;
        padding-right: 30px;
        transition: all .3s;
        &:hover{
            background-color: transparent;
            border-color: $color-primary;
            color: $color-primary;
        }
        i {
            margin-left: 15px;
        }
        &.overlay {
            // color: $color-primary;
            background-color: rgba(0,0,0,0.5);
            &:hover {
                color: #fff;
                background-color: $color-primary;
            }
        }
    }
    &.btn-outline-secondary {
        border-radius: 0;
        border: 0;
        padding: 0;
        padding-right: 25px;
        transition: all .3s;
        font-family: $font-heading;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $color-primary;
        border-bottom-color: $color-primary;
        position: relative;
        i {
            transition: all .3s;
            position: absolute;
                right:0;
        }
        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $color-primary;
            margin-top: 10px;
            position:absolute;
        }
        &:hover{
            transition: all .3s;
            padding-right: 35px;
            background-color: transparent;
            // display: flex;
            // align-items: center;
            i {
                position: absolute;
                right:0;
            }
        }
        &:focus {
            box-shadow: none;
        }
    }
}