.carousel{
    background-color: transparent;
    .carousel-item {
        .card{
            background-color: transparent;
            border:0;
            img{
                max-height: 300px;
            }
        }
    }
}

.carousel-indicators {
    top: 100%;
}