.card{
    &.img-bg-link{
        position: relative;
        height: 360px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        box-shadow: 10px 8px 26px -10px rgba(0,0,0,0.65);
        -webkit-box-shadow: 10px 8px 26px -10px rgba(0,0,0,0.65);
        -moz-box-shadow: 10px 8px 26px -10px rgba(0,0,0,0.65);
        @include media-breakpoint-up(xl) {
            height: 497px;
        }
        .card-body{
            text-align: center;
            position: absolute;
            z-index: 1;
            bottom: 30px;
            // opacity: 0;
            transition: all .3s;
            h5,p {
                color: #fff;
            }
        }
        &:hover{
            .card-body{
                 background-color: rgba(0, 0, 0, 0.616);
            }
        }
    }
}