.footer{
    color: #fff;
    background-color: #000;
    img{
        max-width: 300px;
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }
    h5{
        margin-bottom: 20px;
    }
    a {
        color: #fff;
        text-decoration: none;
        &:hover{
            color: $color-primary;
        }
    }
    .icon-link-group {
        display: flex;
        align-items: center;
        a {
            color: $color-primary;
            font-size: 24px;
            transition: all .3s;
            +a{
                margin-left: 10px;
            }
            &:hover{
                color: #fff;
            }
        }
    }
}