.cta-navbar {
    background-color: #fff;
    height: 62px;

    .icon-link-group {
        display: flex;
        align-items: center;
        padding-left: 20px;

        a {
            color: $color-primary;
            font-size: 24px;
            transition: all .3s;

            +a {
                margin-left: 10px;
            }

            &:hover {
                color: $color-secondary;
            }
        }
    }

    .cta-navbar-link {

        display: flex;
        align-items: center;
        font-weight: 700;
        background-color: $color-primary;
        color: #fff;
        border-radius: 0;
        display: inline-block;
        font-family: $font-heading;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px 21px;
    }
}

.navbar {
    padding-top: 0;
    display: block;
    background-color: #000;
    border-bottom: #eee 1px solid;

    .navbar-nav {

        .nav-item,
        .page_item,
        .menu-item {
            display: flex;

            .nav-link,
            a {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-family: $font-heading;
                font-weight: 700;
                padding-left: 15px;
                padding-right: 15px;
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: rgb(202, 202, 202);
                }
            }
            margin-bottom: 15px;
            justify-content: flex-end;
            @include media-breakpoint-up(xl) {
                margin-bottom: 0
            }
            
        }
    }
}

.navbar-brand {
    margin-top: 8px;

    img {
        max-width: 200px;
    }
}

.navbar-toggler {
    border: 0;
    padding-bottom: 10px;

    &:focus,
    &:focus-visible {
        border: 0;
        box-shadow: none;
    }

    span {

        &.hamburger-inner,
        &.hamburger-inner:before,
        &.hamburger-inner:after {
            background-color: #fff;
            height: 3px;
        }
    }

    &[aria-expanded="true"] {
        @extend .is-active;

        span {

            &.hamburger-inner,
            &.hamburger-inner:before,
            &.hamburger-inner:after {
                background-color: $color-primary !important;
                height: 3px;
            }
        }
    }
}