@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bg-center-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}