// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Oswald:wght@300;700&display=swap');

// Bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

// Font Family
$font-heading : 'Oswald', sans-serif;
$font-body: 'Roboto Condensed', sans-serif;

// Colors
$color-primary: #ea0000;
$color-secondary: #000;
$color-gray: #4d4d4d;


