.full-height {
    min-height: calc(100vh - 159px);
    @include media-breakpoint-up(md) {
        min-height: calc(100vh - 159px);
     }
    @include media-breakpoint-up(xl) {
        min-height: calc(90vh - 159px);
     }
}

.bg-center-cover {
    @include bg-center-cover;
}