h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: 700;
}

a, p, li {
    font-family: $font-body;
    font-weight: 300;
}


h1 {
    font-size: 26px;
    @include media-breakpoint-up(md) {
        font-size: 40px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 60px;
    }
}

h5 {
    font-size: 16px;
    @include media-breakpoint-up(md) {
        font-size: 18px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 20px;
    }
}

p {
    &.heading {
        font-family: $font-heading;
        font-weight: 700;
        font-size: 16px;
    }
    &.big {
        font-size: 18px;
        @include media-breakpoint-up(lg) {
            font-size: 20px;
        }
    }
}